<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout disableAnsi="false" pattern="%highlight{%d{ISO8601} [%p]} %m%n\t%highlight{at %t%x %c.%M(%F:%L)}\n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.jnode.fs.spi" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.fs.ext2" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.fs.ntfs" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.fs.hfsplus" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.fs.jfat" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.test" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.jnode.driver" level="info" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <!-- 
     -->
  </Loggers>
</Configuration>